# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Michelle Evans
	email = mvevans89@gmail.com
[core]
	editor = nano
[credential]
	helper = osxkeychain
